TD {FONT-FAMILY: Arial; TEXT-ALIGN: center}
P {FONT-FAMILY: Arial; TEXT-ALIGN: center}
P.bio {font-family: Arial; text-indent: 35; text-align: justify; margin: 0px 30px 0px 30px }
H1 {FONT-FAMILY: Times New Roman; FONT-SIZE: large; TEXT-ALIGN: center; margin: 0px 0px 20px 0px}
H2 {FONT-FAMILY: Times New Roman; FONT-SIZE: medium; TEXT-ALIGN: center; margin: 0px 0px 9px 0px}
A {font-family: Arial; TEXT-DECORATION: none}
